*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Float utility */
.fl{
    float: left;
}

.fl::after{
    content: "";
    display: table;
    clear: both;
}

/* Page Cont */
.page-container{
    height: calc(100vh - 130px);
    display: flex;
    width: 100%;
}


/* Sidebar */
.sidebar{
    height: 100%;
    width: 250px;
    background: #000000;
    line-height: 40px;
}

.hovered{
    border-left: 4px #ADFF2F solid;
}

.side-menu img{
    width: 30px;
    vertical-align: middle;
}

.side-logo img{
    width: 200px;
    padding: 20px;
}

.sidebar div p,
.sidebar div h4{
    padding-left: 20px;
}

.sidebar div h4{
    text-transform: uppercase;
}

.playlist div .add-playlist{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    top: 50%;
    left: 50%;
}

.add-playlist{
    background: #A3A3A3;
    font-size: 50px;
    font-weight: 700;
    color: black;
    line-height: 50px;
    text-align: center;
}

/* Main MusicBox and Upgrade */
.music-box{
    width: 100%;
    height: 100%;
    background: #141922;
    overflow-y: scroll;
    padding-top: 130px;
}

nav .logo{
    position: fixed;
    top: 0;
    background: #000000;
    opacity: 0.5;
    width: calc(100% - 250px);
    height: 130px;
}

.container-upgrade{
    position: relative;
}

.upgrade-button{
    position: absolute;
    border: 3px #FFFFFF solid;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 30px;
    right: 25px;
    top: 25px;
}

.upgrade-button p{
    text-transform: uppercase;
}

.main-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    line-height: 30px;
}

.main-bar span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin:10px;
}

.main-bar .hovered-1:hover{
    border-bottom: 3px #ADFF2F solid;
}

.recently-played,
.for-you,
.popular-artist{
    padding-left: 20px;
}

.album-container{
    display: flex;
}

/* Recently Played */


/* Per John Doe */


/* Popular Artist */

.album-box{
    height: 150px;
    width: 150px;
    max-width: 150px;
    background: white;
    margin: 10px;
}


/* Footer MusicBar */

footer{
    height: 130px;
    width: 100%;
}

.control-bar{
    height: 130px;
    background: #282828;
    display: flex;
}

.left-music, .right-music{
    background: #282828;
    height: 100%;
    width: 250px;
}

.play-menu{
    height: 100%;
    width: calc(100% - 500px);
    background: #282828;
    display: flex;
    align-items: center;
    min-width: calc(100% / 3);
}

.mid-bar{
    height: 50px;
    width: 80%;
    background: #282828;
    margin: 0 auto;
}

/* Responsive Mobile */

@media screen and (max-width: 575px){

    .sidebar{
        width: 50px;
    }
    
    .sidebar p,
    .sidebar h4,
    .sidebar img,
    .sidebar div{
        display: none;
    }

    nav .logo{
        min-width: calc(100% - 50px);
    }
}